<div class="page">


    <div class="current">
        <h1>Weather Forecast</h1>
        <h2>{{this.currentWeather[0].dt_txt }}</h2>


    </div>
    <div class="box">
        <div class="cards">
            <mat-card class="mat-elevation-z5" *ngFor="let weather_obj of currentWeather">
                <mat-card-header>

                </mat-card-header>
                <mat-card-content>
                    <div class="flex-row">
                        <div class="temp">
                            <mat-card-title>{{location}}'s weather</mat-card-title>
                            <h2>Date: {{weather_obj.dt_txt }}</h2>

                        </div>
                        <div class="outlook">
                            <h1>{{calcTemp(weather_obj.main.temp)}} &#8451;</h1>
                            <span>Feels like </span>
                            <h2>{{calcTemp(weather_obj.main.feels_like)}} &#8451;</h2>
                            <img src="http://openweathermap.org/img/wn/{{weather_obj.weather[0].icon}}@2x.png" />
                            <h2>{{weather_obj.weather[0].description}}</h2>
                        </div>
                    </div>


                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>